<aside class="detail-container">
  <h1>{{pokemon.exp < 0 ? '????' : pokemon.nickname? pokemon.nickname : pokemon.dex_entry.name ? pokemon.dex_entry.name : '????'}}</h1>
  <p class="subtitle">
    <span class="lvl">Lvl.{{pokemon.lvl}}</span>
    <span class="gender" *ngIf="pokemon.exp >= 0">
      <i *ngIf="pokemon.gender==='male'" class="mdi mdi-gender-male"></i>
      <i *ngIf="pokemon.gender==='female'" class="mdi mdi-gender-female"></i>
    </span>
  </p>
  <div class="sprite">
    <img src="{{pokemon.sprite}}" alt="{{pokemon.name ? pokemon.name : '????'}}">
  </div>
  <section class="types" *ngIf="pokemon.exp >= 0">
    <div class="type" *ngFor="let type of pokemon.dex_entry.types">
      <type [type]="type"></type>
    </div>
  </section>
  <p>
    {{pokemonString()}}
  </p>
</aside>

