.detail-container{
  width: 330px;
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  padding: 0 15px;
  color: white;
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  overflow-y: auto;
  overflow-x: hidden;
  h1{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >span{
      display: flex;
      flex-wrap: nowrap;
      align-items: baseline;
    }
  }
  .subtitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .types{
    display: flex;
    >*{
      margin-left: 5px;
    }
  }
  p{
    word-wrap: break-word;
  }
  .sprite{
    text-align: center;
    img{
      width: 30%;
    }
  }
  .gender{
    font-size: .7em;
  }
}
