<h1>Adventures</h1>
<p class="text-muted">Showing {{adventure_list.length}} of {{adventure_list.length}}</p>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let adventure of adventure_list">
    <p class="float-right">{{adventure.duration}} min</p>
    <h4 class="list-group-item-heading">{{adventure.name}}</h4>
    <p class="list-group-item-text">
      Recommended:
    </p>
    <p class="list-group-item-text types">
      <type *ngFor="let type of adventure.recTypes" [type]="type"></type>
    </p>
  </li>
</ul>
