<section class="detail-container">
  <div class="back-btn">
    <button class="btn btn-default" [routerLink]="['../../']"><i class="mdi mdi-chevron-left"></i> Back</button>
  </div>
  <h2 class="title">
    {{adventure.name}}
  </h2>
  <p class="duration">
    {{adventure.duration | time: 'min'}}
  </p>
  <section class="panel rewards">
    <h3>Rewards</h3>
    <reward-item *ngIf="adventure.rewards.exp" [reward]="adventure.rewards.exp" type="exp"></reward-item>
    <h4>Eggs</h4>
    <div class="rewards-list">
      <reward-item *ngFor="let egg of adventure.rewards.eggs" [reward]="egg" type="egg"></reward-item>
    </div>
  </section>
  <section class="panel recomended">
    <h4>Recommended</h4>
    <type *ngFor="let type of adventure.recTypes" [type]="type"></type>
  </section>
  <section class="panel avoid">
    <h4>Avoid</h4>
    <type *ngFor="let type of adventure.avoidTypes" [type]="type"></type>
  </section>
  <div class="assign">
    <adventure-assign [adventure]="adventure"></adventure-assign>
  </div>
</section>

