<section class="detail-container">
  <div class="back-btn">
    <button class="btn btn-default" [routerLink]="['../../']"><i class="mdi mdi-chevron-left"></i> Back</button>
  </div>
  <h2 class="sec-title">
    Adventure
  </h2>
  <h2 class="title">
    Adventure Name
  </h2>
  <p class="duration">
    10 minutes
  </p>
  <section class="panel rewards">
    <p>Rewards:</p>
    <ul>
      <li>100 EXP</li>
    </ul>
  </section>
  <section class="panel recomended">
    recomended types
  </section>
  <section class="panel avoid">
    avoid types
  </section>
  <section class="panel assign">
    assign goes here
  </section>
</section>

