<poke-pokemon-card></poke-pokemon-card>
<div class="pokemon-details">
  <i class="pokemon-gender mdi mdi-gender-male"></i>
  <div class="pokemon-types">
    <img class="pokemon-type-badge" src="/assets/icons/types/grass.png" />
    <img class="pokemon-type-badge" src="/assets/icons/types/poison.png" />
  </div>
  <span class="pokemon-lvl">lvl. <span>7</span></span>
</div>
<div class="pokemon-timeline">
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
</div>
