<div class="pokemon-card">
  <div class="background layer" data-depth="1">
    <h1 class="pokemon-name">Bulbasaur</h1>
  </div>
  <img class="pokemon-sprite layer" data-depth=".5" [src]="sprite" (click)="changeSprite()"/>

</div>
<div class="pokemon-details">
  <span>
    male
  </span>
  <div class="pokemon-types">
    <img class="pokemon-type-badge" src="/assets/icons/types/grass.png" />
    <img class="pokemon-type-badge" src="/assets/icons/types/poison.png" />
  </div>
  <span class="pokemon-lvl">lvl. <span>7</span></span>
</div>
<div class="pokemon-timeline">
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
  <poke-timeline-event></poke-timeline-event>
</div>
